
.container{
    width: 100%;
    margin: auto;
    position: relative;
    z-index: -1;
}

.container img{
    width: 100%;
     
}

.center{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.332);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    padding-right: 20px;
    padding-left: 20px;
    
}

iframe{
    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    
}

article{
    text-align: center;
}

article a{
    color: white;
}

li img{
    width: 100px;
}

/*logos redes*/

ul#album-icone li {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 5rem;
    border-radius: 10px;

}

ul#album-icone li span{
    opacity: 0;
    color: white;
    text-shadow: 1px 1px 1px black;
    background-color: rgba(0, 0, 0, 0.103);
    font-size: 9pt;
    line-height: 0px;
    padding: 5px;

}
ul#album-icone li:hover {
    -webkit-transform: scale(1.5);
}

ul#album-icone li:hover span {
    opacity: 1;
    transition: 1s;
}

ul#album-icone li#icone1 {
    background: url(imagens/fotos/icone-bazar.png) no-repeat;
    background-position: 50% 50%;
    background-size: 75px 75px;

    
}


ul#album-icone li#icone1:hover { /*hover efeito ao passar o mouse em cima da imagem*/
    background-position: 0px 0px;
    background-size: 100px 100px;
    transition: 1s;
}

ul#album-icone li#icone2 {
    background: url(imagens/fotos/Facebook\ logo.png) no-repeat;
    background-position: 50% 50%;
    background-size: 110px 110px;
    
    

}
ul#album-icone li#icone2:hover{
    background-position: 0px 0px;
    background-size: 110px 110px;
    transition: 1s;
    

}

ul#album-icone li#icone3 {
    background: url(imagens/fotos/Ícone\ Instagram.jpeg) no-repeat;
    background-position: 50% 50%;
    background-size: 100px 100px;

}
ul#album-icone li#icone3:hover {
    background-position: 0px 0px;
    background-size: 100px 100px;
    transition: 1s;
}

ul#album-icone li#icone4 {
    background: url(imagens/fotos/Whatsapp\ Black.png.jpeg) no-repeat;
    background-position: 50% 50%;
    background-size: 100px 100px;
    background-color: none;
}
ul#album-icone li#icone4:hover {
    background-position: 0px 0px;
    background-size: 100px 100px;
    transition: 1s;
}

ul#album-icone li#icone5 {
    background: url(imagens/fotos/icone-email.png) no-repeat;
    background-position: 50% 50%;
    background-size: 100px 100px;
    background-color:none;
}
ul#album-icone li#icone5:hover{
    background-position: 0px 0px;
    background-size: 100px 100px;
    transition: 1s;
}

ul#album-icone li#icone6 {
    background: url(imagens/fotos/icone-youtube.png) no-repeat;
    background-position: 50% 50%;
    background-size: 100px 100px;

}
ul#album-icone li#icone6:hover{
    background-position: 0px 0px;
    background-size: 100px 100px;
    transition: 1s;
}
ul#album-icone li#icone7 {
    background: url(imagens/fotos/incone-linkdein.png) no-repeat;
    background-position: 50% 50%;
    background-size: 100px 100px;

}

ul#album-icone li#icone7:hover{
    background-position: 0px 0px;
    background-size: 100px 100px;
    transition: 1s;
}

/*logos redes*/

 #logo-ho{
    width: 30%;
    float: right;
    margin-right: 200px;

 }
 .container1 p{
     
    
 }

 p{
    text-align: center;
    font-weight: 800;
 }